<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Demo Bot</string>
		<key>baseURL</key>
		<string>https://sapcai-community.sapcai.eu10.hana.ondemand.com/public/api</string>
		<key>authorizationEndpointURL</key>
		<string>https://sapcai-community.authentication.eu10.hana.ondemand.com/oauth/authorize</string>
		<key>tokenEndpointURL</key>
		<string>https://sapcai-community.authentication.eu10.hana.ondemand.com/oauth/token</string>
		<key>redirectURL</key>
		<string>https://sapcai-community-staging.sapcai-staging.eu10.hana.ondemand.com/login/callback</string>
		<key>clientId</key>
		<string>sb-9bd29670-e26a-4b4c-a4f7-7487bcb0360f-CLONE-DT!b40741|cai-production!b20881</string>
		<key>clientSecret</key>
		<string>Kg+g/SrqZKLwzDc1x6jYwMXOfTY=</string>
		<key>developerToken</key>
		<string>2e4af2a49cd6306b37e36bda954191f9</string>
		<key>channelId</key>
		<string>41714cf2-950b-4b1d-99d4-d692cdf5f69a</string>
		<key>channelToken</key>
		<string>6e369bc9e573453bc01cf5f0f4818a29</string>
		<key>channelSlug</key>
		<string>demo-mobile</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Custom</string>
		<key>baseURL</key>
		<string></string>
		<key>authorizationEndpointURL</key>
		<string></string>
		<key>tokenEndpointURL</key>
		<string></string>
		<key>redirectURL</key>
		<string></string>
		<key>clientId</key>
		<string></string>
		<key>clientSecret</key>
		<string></string>
		<key>developerToken</key>
		<string></string>
	</dict>
</array>
</plist>
